[tool.poetry]
name = "autoxuexiplaywright"
version = "2.1.4"
description = "A tool to finish something boring."
authors = ["Noob Zhang <17194552+zhanghua000@users.noreply.github.com>"]
license = "GPL"

[tool.poetry.scripts]
autoxuexiplaywright = "autoxuexiplaywright.__main__:main"

[[tool.poetry.source]]
name = "bfsu"
url = "https://mirrors.bfsu.edu.cn/pypi/web/simple"
default = true

[[tool.poetry.source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
default = false

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
aiohttp = "^3.8.3"
pyzbar = "^0.1.9"
qrcode = {extras = ["pil"], version = "^7.3.1"}
requests = "^2.28.1"
playwright = "^1.29.0"
pyxdg = "^0.28"

[tool.poetry.group.gui]
optional = true

[tool.poetry.group.gui.dependencies]
pyside6 = "^6.4.0"

[tool.poetry.group.dev.dependencies]
pytest-asyncio = "^0.20.2"
pytest-playwright = "^0.3.0"
autopep8 = "^2.0.0"
pytest = "^7.2.0"
pycycle = "^0.0.8"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
