[Desktop Entry]
Type=Application
Name=AutoXuexiPlaywright
Icon=autoxuexiplaywright
Comment=Automatically finish something boring.
Exec=autoxuexiplaywright
Categories=Network;
