[Desktop Entry]
Type=Application
Name=AutoXuexiPlaywright
Icon=org.autoxuexiplaywright.autoxuexiplaywright
Comment=Automatically finish something boring.
Exec=autoxuexiplaywright
Categories=Network;
